node_modules
.turbo
dist
.next
.expo
.expo-shared
*.local
.env
.env.local
.env.*.local
*.log
coverage
.DS_Store
Thumbs.db
ios
android
*.tsbuildinfo
.vercel
apps/mobile/.expo
apps/tv/.expo
scripts/node_modules
